body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0284c7;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.top-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px;
}

.sidebar-item img, .profile-area img {
    width: 25px;
    height: 25px;
}

.sidebar-item {
    display: grid;
    grid-template-columns: auto 1fr; /* Image and text side by side */
    align-items: center; /* Vertically align items */
    margin: 10px;
    gap: 10px;
}

.bottom-buttons {
    margin-top: 50px;
}

.title img {
    width: 50px;
    height: 50px;
}

.title {
    display: grid;
    grid-template-columns: auto 1fr; /* Image and text side by side */
    align-items: center; /* Vertically align items */
    margin: 10px;
    gap: 10px; 
}

.bottom-content {
    background-color: rgb(214, 214, 214);
}

.search-bar img {
    width: 15px;
    height: 15px;
}

.search-bar input {
    width: 80%;
    height: 40%;
    border-radius: 10px;
    background-color: rgb(181, 181, 181);
    border-style: none;
}

.search-bar {
    justify-content: center;
    display: flex;
    gap: 15px;
    align-items: center;
}

#pfp {
    width: 50px;
    height: 50px;
}

.profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}

.hello-user-section img {
    width: 70px;
    height: 70px;
}

.hello-user-section {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.large-text, .small-text {
    padding: 0px;
    margin: 5px;
}

.blue-pill-button {
    padding: 10px 20px;
    color: white;
    background-color: #0284c7;
    border-radius: 10px;
    border-style: none;
}

.top-section-buttons {
    display: flex;
    align-items: center;
    gap: 50px;
}

.bottom-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.bottom-rhs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.project-card {
    border-style: solid;
    border-color: black;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px;
    padding: 10px;
    background-color: white;
}

.card-title {
    font-weight: bold;
    text-decoration: underline;
}

.card-buttons img {
    width: 20px;
    height: 20px;
}

.card-buttons {
    display: flex;
    align-items: center;
    justify-content: end;
}

.generic-box {
    background-color: white;
    border-style: solid;
    border-color: black;
    padding: 10px;
    border-radius: 15px;
}

.announcement-info > p {
    font-size: 11px;
}

.announcement-info > h4 {
    margin: 0px;
}

.generic-box .announcement-info {
    border-bottom: 2px solid #ccc;
    padding: 10px; 
}

.generic-box .announcement-info:last-child {
    border-bottom: none; 
}

.trending-person img {
    width: 50px;
    height: 50px;
}

.trending-person {
    margin: 7px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.generic-box {
    margin-right: 20px;
    margin-bottom: 10px;
}